<div style="padding-top: 30px;">
    <div style=" width: 800px; margin: 0 auto;">
        <div>
           
            <h6 style="background-color: rgb(5, 5, 70); color: whitesmoke; font-size: 18px; height: 40px; text-align: center;justify-content: center; display: flex; align-items: center;">
                You May Contact Us</h6>
        </div>
        <div style="display: flex;margin-bottom: 30px;justify-content: center; align-items: center; text-align: left;border: 1px solid grey;padding-top:40px; padding-bottom: 10px;">
          
            <div style="margin-left: 20px;">
                <h3>For Railway tickets booked through IRCTC</h3>
                        <p>Customer Care Numbers: 14646 / 08044647999 / 08035734999
                            (Language: Hindi, English, Punjabi, Bengali, Assamese, Oriya, Marathi, Gujarati, Tamil,
                            Telugu, Kannada and Malayalam )
                            Customers can use enhanced interface for their IRCTC related queries:
                            https://equery.irctc.co.in/</p>

                        <h5>General Information:</h5>
                        
                        <p>
                            I-tickets/e-tickets: https://equery.irctc.co.in
                            For Cancellation of E-tickets: etickets &irctc.co.in
                            For IRCTC iMudra Prepaid Wallet & Card: https://equery.irctc.co.in</p>
                            
                        <h5>Registered Office - Corporate Office</h5>
                        <p>Indian Railway Catering and Tourism Corporation Ltd.,<br>
                            4th Floor, Tower-D, World Trade Centre,<br>
                            Nauroji Nagar, New Delhi-110029</p>
                 </div>
            </div>
    </div>
        <div>
        </div>
    </div>