<div>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="background-color: #eaeaea;">
        <li class="nav-item">
          <a class="nav-link active" id="pills-alert-tab" data-toggle="pill" role="tab" aria-controls="pills-alert" aria-selected="true">Alerts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-updates-tab" data-toggle="pill" role="tab" aria-controls="pills-updates" aria-selected="false">Update</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-info-tab" data-toggle="pill"  role="tab" aria-controls="pills-info" aria-selected="false">General Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-links-tab" data-toggle="pill" href="#pills-links" role="tab" aria-controls="pills-links" aria-selected="false">Quick Links</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-railwayupdate-tab" data-toggle="pill" href="#pills-railwayupdate" role="tab" aria-controls="pills-railwayupdate" aria-selected="false">Railway Updates</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-alert" role="tabpanel" aria-labelledby="pills-alert-tab">
            <ul class="list-group">
                <li class="list-group-item" style="color: blue;background-color: #eaeaea;font-weight: bold;"> * Customer Care Numbers : 14646/08044647999 /08035734999 (Language: Hindi, English, Punjabi, Bengali, Assamese, Oriya, Marathi, Gujarati, Tamil, Telugu, Kannada and Malayalam)</li>
                <li class="list-group-item" style="color: red;font-weight: bold;"> * Please click here for Empanelment for PAD items for Catering.</li>
                <li class="list-group-item" style="color: blue;background-color: #eaeaea;font-weight: bold;"> * User registration, Updating of profile and ERS in pdf format will not be available from 07:30hrs to 12:00hrs.</li>
                <li class="list-group-item" style="color: red;font-weight: bold;"> * Supply of Additional 500 ml Rail Neer Water Bottles on Vande Bharat Trains. Click here.</li>
              </ul>
        
        </div>
        <div class="tab-pane fade"  id="pills-updates-tab" role="tabpanel" aria-labelledby="pills-updates-tab">
            <ul class="list-group">
                <li class="list-group-item" style="color: black;background-color: #eaeaea;font-weight: bold;"> * IRCTC HDFC Loyalty Card :<br>
                    About IRCTC HDFC Loyalty Program.</li>
                <li class="list-group-item" style="color: blue;font-weight: bold;"> * IRCTC RBL Loyalty Card :<br>
                    About IRCTC RBL Loyalty Program.</li>
                <li class="list-group-item" style="color: black;background-color: #eaeaea;font-weight: bold;"> * IRCTC E-Catering : Get your Favourite Food delivered on your Train Seat/Berth with IRCTC E-Catering at selected stations.Click here to know more.</li>
                <li class="list-group-item" style="color: blue;font-weight: bold;"> * Wheelchair Service : Passengers can avail Wheelchair service provided by IRCTC. Click here to know more.</li>
              </ul>
        </div>

        <div class="tab-pane fade" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">...</div>
        <div class="tab-pane fade" id="pills-links" role="tabpanel" aria-labelledby="pills-links-tab">...</div>
        <div class="tab-pane fade" id="pills-railwayupdate" role="tabpanel" aria-labelledby="pills-railwayupdate-tab">...</div>
      </div>
  </div>