<!-- <div *ngIf="trains.length > 0; else noData"> -->
<table>
  <thead>
    <tr>
      <th>S.No</th>
      <th>Train_Id</th>
      <th>Train_Name</th>
      <th>Train_Type</th>
      <th>Source_Station</th>
      <th>Destination_Station</th>
      <th>Departure_Time</th>
      <th>Arrival_Time</th>
      <th>Journey_Duration</th>
      <th>Total_Seats</th>
      <th>Available_Seats</th>
      <th>Fare</th>
      <th>Book Ticket</th>
    </tr>
  </thead>
  <tbody *ngIf="trains.length > 0; else noData">
    <tr style="text-align: center;" *ngFor="let train of trains">
      <td>{{train.sNo }}</td>
      <td>{{ train.trainId }}</td>
      <td>{{ train.trainName }}</td>
      <td>{{ train.trainType }}</td>
      <td>{{ train.sourceStation }}</td>
      <td>{{ train.destinationStation }}</td>
      <td>{{ train.departureTime }}</td>
      <td>{{ train.arrivalTime }}</td>
      <td>{{ train.journeyDuration }}</td>
      <td>{{ train.totalSeats }}</td>
      <td>{{ train.availableSeats }}</td>
      <td>{{ train.fare }}</td>
      <td>
        <button (click)="EditModalPopUp(train)" style="border: none; background-color: rgb(181, 181, 236);"><i
            class="bi bi-send-arrow-up-fill"></i></button>
      </td>

    </tr>
    <br>

  </tbody>

</table>

<div *ngIf="showModal" class="modal-backdrop" style="background-color: whitesmoke; border: 2px solid black;overflow: auto;">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel"
        style="background-color: rgb(5, 5, 70); width: 100%;color: whitesmoke; margin-top: 10px; display: flex; text-align: center; justify-content:center; border-radius: 10%; margin-left: 10px;margin-right: 10px;">
        Book Ticket</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="CloseUpdatePopUp"></button>
    </div>
    <div class="modal-body" style="padding-top: 30px;">
      <div class="row" style="margin-left: 10px;margin-right: 10px;">
        <div class="col-md-3">
          <label>Train Id <span style="color: red;">*</span> </label>
          <input type="int" class="form-control" [(ngModel)]="selectedTrain.trainId" readonly>
        </div>

        <div class="col-md-3">
          <label>Train Name <span style="color: red;">*</span> </label>
          <input type="text" class="form-control" [(ngModel)]="selectedTrain.trainName" readonly>
        </div>

        <div class="col-md-3">
          <label>Train Type <span style="color: red;">*</span> </label>
          <input type="text" class="form-control" [(ngModel)]="selectedTrain.trainType" readonly>
        </div>

        <div class="col-md-3">
          <label>Source Station <span style="color: red;">*</span> </label>
          <input type="text" class="form-control" [(ngModel)]="selectedTrain.sourceStation" readonly>
        </div>
      </div>
      <div class="row"style="margin-left: 10px;margin-right: 10px;">
        <div class="col-md-3">
          <label>Destination Station <span style="color: red;">*</span> </label>
          <input type="text" class="form-control" [(ngModel)]="selectedTrain.destinationStation" readonly>
        </div>
        <div class="col-md-3">
          <label>Departure Time <span style="color: red;">*</span> </label>
          <input type="text" class="form-control" [(ngModel)]="selectedTrain.departureTime" readonly>
        </div>
        <div class="col-md-3">
          <label>Arrival Time <span style="color: red;">*</span> </label>
          <input type="text" class="form-control" [(ngModel)]="selectedTrain.arrivalTime" readonly>
        </div>
        <div class="col-md-3">
          <label>Journey Duration <span style="color: red;">*</span> </label>
          <input type="text" class="form-control" [(ngModel)]="selectedTrain.journeyDuration" readonly>
        </div>
      </div>
      <div class="row"style="margin-left: 10px;margin-right: 10px;">
        <div class="col-md-3">
          <label>Total Seats <span style="color: red;">*</span> </label>
          <input type="int" class="form-control" [(ngModel)]="selectedTrain.totalSeats" readonly>
        </div>
        <div class="col-md-3">
          <label>Available Seats <span style="color: red;">*</span> </label>
          <input type="int" class="form-control" [(ngModel)]="selectedTrain.availableSeats" readonly>
        </div>
        <div class="col-md-3">
          <label>Fare <span style="color: red;">*</span> </label>
          <input type="text" class="form-control" [(ngModel)]="selectedTrain.fare" readonly>
        </div>
        <div class="col-md-3">
          <label>UserName <span style="color: red;">*</span> </label>
          <input type="text" class="form-control" [(ngModel)]="selectedTrain.userName" readonly>
        </div>
      </div>
      <br>
      <div class="row"style="margin-left: 10px;margin-right: 10px;">
        <div class="col-md-3">
          <label>Name <span style="color: red;">*</span> </label>
          <input type="text" class="form-control" [(ngModel)]="name"placeholder ="Enter Passenger's Name" style="background-color: whitesmoke;border: 1px solid black;">
        </div>
        <div class="col-md-3">
          <label>Age <span style="color: red;">*</span> </label>
          <input type="number" class="form-control" [(ngModel)]="age" (input)="onAgeInput()" placeholder="Enter Passenger's Age" style="background-color: whitesmoke;border: 1px solid black;">
        </div>
        <div class="col-md-3">
          <label>Journey Date <span style="color: red;">*</span> </label>
          <input style="background-color: whitesmoke; border: 1px solid black;" type="date" class="form-control" [(ngModel)]="journeyDate" />
        </div>
        <div class="col-md-3">
          <label>Booking Date</label>
          <input type="date" class="form-control" [(ngModel)]="bookingDate" readonly>
        </div>
        <div class="col-md-3">
          <label>Booking Time</label>
          <input type="text" class="form-control" [(ngModel)]="bookingTime" readonly>
        </div>
        <!-- <div class="col-md-3">
          <label>Booking Id <span style="color: red;">*</span> </label>
          <input type="number" [(ngModel)]="selectedTrain.bookingId"  class="form-control random-input" [value]="randomValue" readonly disabled>
          <i class="fa fa-refresh refresh-icon" (click)="generateRandomCode()"></i>  
        </div> -->
        <div class="random-code-container" style="width: 340px;">
          <label>Booking Id <span style="color: red;">*</span> </label>
          <input type="text" class="form-control random-input" [(ngModel)]="bookingId" readonly />
          <i class="fa fa-refresh refresh-icon" (click)="generateRandomCode()"></i>  
        </div>
      </div>
      <br>
      <button type="button" class="btn btn-success" (click)="confirmBooking()"
            style="background-color: orangered; color: whitesmoke; margin-left: 45%;">Book Ticket</button> 

    </div>

  </div>
</div>
<ng-template #noData>
  <tbody>
    <tr>
      <td colspan="11" style="text-align:center;">No train data available</td>
    </tr>
  </tbody>
</ng-template>