<div>
    <div class="d-flex align-items-center justify-content-center gap-3"
        style="background-image: linear-gradient(270deg, #9b4b90 0, #2c215d); height: 75px;">
        <h6 class="mb-0" style="color: whitesmoke;">Get Connected with us on social networks</h6>
        <div class="d-flex gap-3">
            <div class="social-icon"><i class="bi bi-facebook" style="color: rgb(45, 45, 192);"></i></div>
            <div class="social-icon"><i class="bi bi-whatsapp" style="color: rgb(31, 122, 31);"></i></div>
            <div class="social-icon"><i class="bi bi-youtube" style="color: rgb(211, 17, 17);"></i></div>
            <div class="social-icon"><i class="bi bi-instagram" style="color: rgb(223, 8, 116);"></i></div>
            <div class="social-icon"><i class="bi bi-linkedin" style="color: rgb(49, 49, 211);"></i></div>
            <div class="social-icon"><i class="bi bi-telegram" style="color: rgb(56, 102, 253);"></i></div>
            <div class="social-icon"><i class="bi bi-pinterest" style="color: rgb(184, 17, 17);"></i></div>
            <div class="social-icon"><i class="bi bi-tumblr" style="color: rgb(44, 43, 43);">t</i></div>
            <div class="social-icon"><i class="bi bi-twitter" style="color: rgb(56, 119, 236);"></i></div>
        </div>
    </div>
    <div style="height: 5px; color: #fff;">

    </div>
    <div class="row dropdown-container"
        style="background-color: #2c215d;position: relative;background-position: 50%;background-size: cover;">
        <div class="col" style="color: whitesmoke; margin-top: 50px; margin-left: 60px;">
            <!-- <select class="form-select">
                <option selected disabled>IRCTC Trains</option>
                <option value="1">Salient Features</option>
                <option value="2">Ticket Cancellation Rules</option>
                <option value="3">Foreign Tourist T&C</option>
                <option value="4">Group Booking T&C</option>
                <option value="5">Travel Insurance Claim Process</option>
            </select> -->
            <span class="custom-span">IRCTC Trains </span><br>
            <span class="custom-span">General Information </span><br>
            <span class="custom-span">Important Information </span><br>
            <span class="custom-span">Agents </span><br>
            <span class="custom-span">Enquiries </span><br>
            <br>
        </div>
        <div class="col" style="color: whitesmoke; margin-top: 50px;">
            <span class="custom-span">How To </span><br>
            <span class="custom-span">IRCTC Official App </span><br>
            <span class="custom-span">Advertise with us </span><br>
            <span class="custom-span">Refund Rules </span><br>
            <span class="custom-span">Person With Disability Facilities</span><br>
            <br>
        </div>
        <div class="col" style="color: whitesmoke; margin-top: 50px;">
            <span class="custom-span">IRCTC eWallet </span><br>
            <span class="custom-span">Avail Loyalty Benefits </span><br>
            <span class="custom-span">IRCTC-iPAY Payment Gateway </span><br>
            <span class="custom-span">IRCTC Zone </span><br>
            <span class="custom-span">DMRC Ticket Booking at IRCTC</span><br>
            <br>
        </div>
        <div class="col" style="color: whitesmoke; margin-top: 50px;">
            <span class="custom-span">For Newly Migrated Agents </span><br>
            <span class="custom-span">Mobile Zone </span><br>
            <span class="custom-span">Policies </span><br>
            <span class="custom-span">Ask Disha ChatBot</span><br>
            <span class="custom-span">About Us</span><br>
            <br>
        </div>
        <div class="col" style="color: whitesmoke; margin-top: 50px;">
            <span class="custom-span">Help & Support</span><br>
            <br>
        </div>
    </div>

    <div class="row dropdown-container" style="color: white; justify-content: space-between; height: auto; margin-top: 10px; gap: 20px;">
        <div class="col"><img src="verisign.png" width="80" height="50"></div>
        <div class="col"><img src="mastercard.png" width="80" height="50"></div>
        <div class="col"><img src="safekey.png" width="80" height="50"></div>
        <div class="col"><img src="visa.jpg" width="80" height="50"></div>
        <div class="col"><img src="rupay.png" width="80" height="50"></div>
        <div class="col"> <img src="railtour.jpg" width="80" height="50"></div>
        <div class="col"><span  class="right-span">Copyright Â© 2025 - www.irctc.co.in. All Rights Reserved</span><br></div>
           <br>
    </div>
    <span class="right-span">Designed and Hosted by CRIS</span><br>
    <span class="right-span">Compatible Browsers</span><br>

</div>